body {
  text-align: center;
  background-color: rgb(167, 196, 212);
  margin-left: 3%;
  margin-right: 3%;
}

section {
  width: 33%;
  float: left;

}

#average-paragraph {
  text-align: right;
  width: 50%;
  margin-top: 7%;
  margin-left:10%;
  font-size: 24;;
}

#average-dollars {
  width:5%;
  margin-top: 6.3%;
  font-size: 30;
  font-weight: 500;
  margin-bottom: .7%;
  

}